div.userlist
{
	font-size: 0.9em;
	table {	border-collapse:collapse; }
}
td.userlist, th.userlist 
{
	border: 1px solid black;
	padding: 10px;
}

th.userlist { text-align:left; }
input.userlist { width: 5em; }
select.userlist { width: 5em; }
