<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <modules>
    <!-- user manager module -->
  	<module id="users" 
      class="Application.code.UserManager" />
    <!-- auth manager module -->
    <module id="auth" 
      class="Application.code.SeprosoAuthManager" 
		  UserManager="users" 
      LoginPage="User.Login" />
  </modules>

  <authorization>
    <allow roles="admin" />
	<allow pages="ProjectList, ProjectDetails, ReportResource, ReportProject" roles="manager" />
	<allow pages="LogTimeEntry" roles="consultant" />
	<allow pages="UserCreate,Logout,Login" users="*" />
    <deny users="*" />
  </authorization>

  <pages MasterClass="Application.pages.MainLayout" Theme="Seproso" />

  <parameters>
  	<parameter id="NewUserRoles" value="personal" />
  </parameters>
</configuration>